# If you want to create a database with your own variable values,
#  change the variables to suit your needs.
# Save this file without ending ".example". Launch docker compose.
POSTGRES_USER=posgres
POSTGRES_PASSWORD=posgres